{% extends "base.html" %}

{% block main %}
<div class="right">
<h2>Copyright and Contact Information</h2>
<p>Copyright 2008 <a href="http://www.xvx.ca/">Adam Wolfe Gordon</a> (<a href="mailto:awg@volsched.com">awg@volsched.com</a>).</p>
<p>Powered by <a href="http://www.djangoproject.com">Django</a>.</p>
<p>Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a>.</p>
<p>Javascript Calendar from <a href="http://www.dynarch.com/projects/calendar/">dynarch.com</a>.</p>
<p>Hosted on <a href="http://dreamhost.com">Dreamhost</a>.  Use the referal code 'volsched' to get a $50 discount and support this site!</p>
</div>
{% endblock %}
