{% extends "base.html" %}

{% block main %}
<div class="right">
<h2>Login</h2>

{% if user.is_authenticated %}
<p>You are already logged in as {{ user.username }}.  You can <a href="{% url django.contrib.auth.views.logout %}">logout</a> if you would like.</p>
{% else %}

{% if form.has_errors %}
<p>Invalid username or password.  If you've created an account, but haven't confirmed yet, you must confirm before logging in.</p>
{% endif %}

<form method="post" action=".">
<table>
<tr><td><label for="id_username">Username:</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
</table>

<input type="hidden" name="next" value="{{ next|default:"/" }}" />
<input type="submit" value="Login" />
</form>
{% endif %}
</div>
{% endblock %}
